.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 56px;
  margin-left: 78px;
  width: max-content;

  @media screen and (max-width: 768px) {
    row-gap: 11px;
    margin: 0;
  }
}

.numbers {
  font-size: 14px;
  line-height: auto;

  @media screen and (max-width: 500px) {
    line-height: 100%;
  }
}

.btns {
  display: flex;
  column-gap: 20px;

  @media screen and (max-width: 768px) {
    column-gap: 9px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  color: $color-black-blue;
  border: 1px solid rgba($color-black-blue, 0.5);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline-offset: 1px;
  transition-duration: $transition-duration;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      border-color: $color-black-blue;
    }
  }

  &:active:not(:disabled) {
    border-color: $color-black-blue;
  }

  &:focus-visible {
    outline: 1px solid $color-black-blue;
  }

  @media screen and (max-width: 768px) {
    width: 25px;
  }
}

.left {
  transform: rotateY(180deg);
}
