.control {
  position: absolute;
  top: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  background: $color-white;
  box-shadow: 0px 0px 15px rgba($color-blue, 0.1);
  cursor: pointer;
  transition-duration: $transition-duration;

  &:focus-visible {
    outline: 1px solid $color-blue;
    box-shadow: 0px 0px 15px rgba($color-blue, 1);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0px 0px 15px rgba($color-blue, 1);
    }
  }
  
  @media screen and (max-width: 886px) {
    display: none;
    visibility: none;
  }
}

.left {
  left: 20px;
  transform: rotateY(180deg);
}

.right {
  right: 37px;
}