$color-black-blue: #42567A;
$color-iris_100: #5d5fef;
$color-fuschia_100: #EF5DA8;
$color-blue: #3877EE;
$color-white: #ffffff;
$color-light-grey: #e2e5ec;
$main-bg-color: #f4f5f9;
$color-pagination: #adb5c6;

$transition-duration: 0.2s;

