$color-black-blue: #42567a;
$color-iris_100: #5d5fef;
$color-fuschia_100: #ef5da8;
$color-blue: #3877ee;
$color-white: #ffffff;
$color-light-grey: #e2e5ec;
$color-dark-grey: #c7cdd9;
$main-bg-color: #f4f5f9;
$color-pagination: #adb5c6;

$transition-duration: 0.2s;
