.periodDesktop {
  display: none;

  @media screen and (min-width: 769px) {
    display: block;
  }
}

.periodMobile {
  display: block;

  @media screen and (min-width: 769px) {
    display: none;
  }
}