.card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: $color-blue;

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.text {
  font-size: 20px;
  line-height: 30px;

  &::first-letter {
    text-transform: uppercase;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 145%;
  }
}