.wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 1440px;
  margin-inline: auto;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    border-inline: 1px solid $color-light-grey;
    margin-left: 160px;

    @media screen and (max-width: 1920px) {
      margin: 0;
    }

    @media screen and (max-width: 768px) {
      border: none;
      padding: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50%);
      height: 100%;
      width: 1px;
      background-color: $color-light-grey;
      z-index: -1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.swiperWrapper {
  position: relative;
  order: 2;
  animation: fadeSwap 1s ease-in-out;

  @media screen and (max-width: 768px) {
    order: 1;
    margin-bottom: 78px;
  }
}

@keyframes fadeSwap {
  0%   { opacity: 1; }
  20%  { opacity: 0; } 
  80%  { opacity: 0; }    
  100% { opacity: 1; }    
}

.container {
  display: flex;
  flex-direction: column;
}

.pagAndControlWrapper {
  order: 1;
  display: flex;
  align-items: center;
  column-gap: 40px;

  @media screen and (max-width: 768px) {
    order: 2;
  }
}

.circleWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  margin-bottom: 33px;

  @media screen and (max-width: 768px) {
    height: 186px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }
}
