.header {
  position: relative;
  margin-top: 170px;
  padding-left: 78px;

  & .title {
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }

    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 60px);
    left: 0;
    height: 120px;
    width: 5px;
    background: linear-gradient($color-blue 0%, $color-fuschia_100 100%);
    z-index: 1;

    @media screen and (max-width: 768px) {
      display: none;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    margin-top: 59px;
  }
}
