@use './styles/reset.scss';
@use './styles/fonts.scss';
@use './styles/variables.scss' as *;

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: $color-black-blue;
  background-color: $main-bg-color;
  width: 100vw;
  height: 100vh;
}

.swiper-slide:not(.swiper-slide-fully-visible) {
  opacity: 0.4;
}
